
@font-face {
	font-family: 'Neou Thin';
	src: url("../fonts/Neou-Thin.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Neou Bold';
	src: url("../fonts/Neou-Bold.otf");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Lobster';
	src: url("../fonts/Lobster_1.3.otf");
	font-weight: normal;
	font-style: normal;
}
