
.primary-navigation {

	ul li > a {
		font-size: 1.20rem;
	}
}

.secondary-navigation {

	ul li > a {
		font-size: 0.9rem;
	}
}

.tertiary-navigation {

	padding-top: 0;
	padding-bottom: 0;

	.menu {
		display: inline-block;

		li > a {
			padding: 0 1rem;
			color: rgba(0,0,0,0.3);
		}

		li > a:hover {
			text-decoration: none;
		}

		li > a > i {
			margin-right: 0;
		}

		li > a > i:hover {
			color: rgba(0,0,0,0.8);
		}
	}
}

/* Small screens only */
@media only screen and (max-width: 40em) { 

	.primary-navigation.top-bar {
 		background: none;
 		padding: 0;
    }

	.primary-navigation ul li > a {
	    font-size: 1rem;
	}
}