#colophon {
	background: #eee;
	padding: 1rem 0;
	color: transparentize(#000, .7);

	.row { 
		max-width: none;
	}

	.social-link {
		color: rgba(0, 0, 0, 0.3);

		.fa:hover {
			color: #000;
		}
	}

	.return-to-top:before {
		margin-right: 0.25rem;
	}

}
