#masthead {
	background: #fff;
}

.site-branding {
	
	img.blog-logo {
		max-height: 200px
	}
}

.site-title {
	font-size: 3rem;
}

.site-description {
	margin: 0;
}

.primary-navigation {

	.top-bar-section ul li>a {
		font-size: 0.95rem;
	}
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	text-decoration: underline;
}

.top-bar-section ul li {
    background: none; 
}

/* Small screens only */
@media only screen and (max-width: 40em) { 

	.site-title {
		text-align: center;
	}

}
