#masthead {
	background: #fff;
}

.site-branding {
	
	img.blog-logo {
		
	}
}

.site-title {
	font-size: 3rem;
}

.site-description {
	margin: 0;
}

/* Small screens only */
@media only screen and (max-width: 40em) { 

	.site-title {
		text-align: center;
	}

}
