#masthead {
	background: #fff;
}

.site-branding {
	
	img.blog-logo {
		max-height: 200px
	}
}

.site-title {
	font-size: 3rem;
}

.site-description {
	margin: 0;
}

.primary-navigation {

	ul li>a {
		font-size: 1.20rem;
	}
}

.secondary-navigation {

	ul li>a {
		font-size: 0.9rem;
	}
}

.top-bar, .top-bar ul {
	background: none;
}

.top-bar li a:not(.button):hover {
	text-decoration: underline;
}

/* Small screens only */
@media only screen and (max-width: 40em) { 

	.site-title {
		text-align: center;
	}

	.top-bar {
 		background: none;
 		padding: 0;
    }

	.primary-navigation ul li > a {
	    font-size: 1rem;
	}
}
